/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 70%;
  margin-top: 10px;
  margin-left: 12%;
  margin-right: 12%;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("trafficjam.jpg");
  background-size: 100%;
  background-position: center;
}

h1, p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: -1px -1px 10px black, 1px -1px 10px black, -1px 1px 10px black, 1px 1px 10px black;
  color: white;
}

h1 {
  font-size: 40px;
}

#cityFinder {
  text-align: center;
}

#city {
  color: violet;
  font-size: 15px;
  border: 2px outset violet;
  border-radius: 10px;
  margin: 10px;
}

#state {
  color: violet;
  font-size: 15px;
  border: 2px outset violet;
  border-radius: 15px;
  margin: 10px;
}

#submit {
  color: violet;
  background-color: white;
  font-size: 15px;
  border: 2px outset violet;
  border-radius: 15px;
  margin: 10px;
}

.error {
  color: red;
}
